body{
    background-color: green;
}

div {
 width: 200px;
 height: 50px;
 margin-bottom: 15px;
}

#predefined-colors{
    background-color: aqua
}

#hexadecimal-colors{
    background-color: #ffabcd;

}

#short-hexadecimal-colors{
    background-color: #fff
}

#rgb-function {
    background-color: rgb(250,20,0);
}

#rgba-function{
    background-color: rgba(100,100,40,0.8);
}