body {
    background-color: blanchedalmond;
}

#background-img {
     background-color: blueviolet;
     background-image: url(../img/truskawka.jpg);
     background-repeat: repeat-y;
     background-position: center;
     background-size: 5%, 5%;
     background-attachment: fixed;
}

