.flex-item {
    color: #56df56;
    font-family: 'lato', sans-serif;
    padding: 10px;
    margin: 3px;
    background-color: darkgray;
    flex-basis: 27%;
    align-self: flex-start;

}

.flex-item:nth-last-of-type(odd) {
    background-color: black;
    max-height: 100px;
    overflow: hidden;
    align-self: flex-end;
}

.container {
    border: 2px dashed red;
    display: flex;
    height: 600px;
   flex-wrap: wrap;
   
}



