.box {
    width: 400px;
    height: 100px;
    border: 1px solid greenyellow;
    padding: 5px;
    margin: 40px;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
}

#visible {
    overflow: visible;
    color: palevioletred;
}

#hidden {
    overflow: hidden;
    color: blue;
}

#scroll {
    overflow: scroll;
    color: indianred;
}

#auto {
    overflow: auto;
    background: -webkit-linear-gradient(top, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
}